{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | Portal Verdade Ceará{% endblock %}
{% block extrahead %}{{ block.super }}<link rel="icon" type="image/png" href="{% static 'images/favicon-portal.png' %}"><link rel="apple-touch-icon" href="{% static 'images/favicon-portal.png' %}">{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static 'css/admin_portal.css' %}?v=1">{% endblock %}
{% block branding %}<a class="portal-admin-brand" href="{% url 'agency:dashboard' %}"><img src="{% static 'images/favicon-portal.png' %}" alt=""><span><b>Portal Verdade Ceará</b><small>Configurações avançadas</small></span></a>{% endblock %}
{% block nav-global %}<a class="portal-admin-return" href="{% url 'agency:dashboard' %}">← Voltar ao sistema</a>{% endblock %}
